.App {
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.item {
  max-width: 300px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 10px;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.container-test {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.show-users-button {
  background-color: #b39cd0;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
}

.show-users-button:hover,
.show-users-button:focus {
  background-color: #845ec2;
}

.loader {
  width: 50px;
  --b: 8px; 
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 1px;
  background: conic-gradient(#0000 10%,#b39cd0) content-box;
  -webkit-mask:
    repeating-conic-gradient(#0000 0deg,#000 1deg 20deg,#0000 21deg 36deg),
    radial-gradient(farthest-side,#0000 calc(100% - var(--b) - 1px),#000 calc(100% - var(--b)));
  -webkit-mask-composite: destination-in;
          mask-composite: intersect;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
